{% extends 'base.html' %}
{% block title %}Лекторы{% endblock %}
{% block content %}
<section>
    <h1>Лекторы проекта</h1>
    <div class="grid-2">
        {% for lecturer in lecturers %}
        <article class="card">
            <h3>{{ lecturer.full_name }}</h3>
            <p><strong>Специализация:</strong> {{ lecturer.specialization }}</p>
            <p><strong>Тема:</strong> {{ lecturer.topic }}</p>
            <p>{{ lecturer.bio }}</p>
        </article>
        {% endfor %}
    </div>
</section>
{% endblock %}
